# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:** 
- List popular languages for Data Science
- List tools that Data Scientists use
- Knowing how to create and display tables

Some of the popular languages that Data Scientists use are:
1. Java
2. R
3. Python
4. Javascript
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| RStudio |
| Jupyter Lab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Craig